@font-face {
  font-family: "iconfont"; /* Project id 3802556 */
  src: url('iconfont.woff2?t=1669883509754') format('woff2'),
       url('iconfont.woff?t=1669883509754') format('woff'),
       url('iconfont.ttf?t=1669883509754') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-24gl-tags4:before {
  content: "\e87d";
}

.icon-biaoqing:before {
  content: "\e600";
}

.icon-bukaixin:before {
  content: "\e64b";
}

.icon-kaixin:before {
  content: "\e653";
}

.icon-biaoqing1:before {
  content: "\e60c";
}

.icon-biaoqing_beishang_o:before {
  content: "\ebab";
}

.icon-biaoqing2:before {
  content: "\e618";
}

.icon-a-weixiaokaixingaoxing-13:before {
  content: "\e7ef";
}

.icon-tianqi-wu:before {
  content: "\e67c";
}

.icon-tianqi-yin:before {
  content: "\e680";
}

.icon-tianqi-:before {
  content: "\ec66";
}

.icon-leidian:before {
  content: "\e61e";
}

.icon-xiangji:before {
  content: "\e673";
}

.icon-shouye:before {
  content: "\e635";
}

.icon-tianqi-qingtian:before {
  content: "\e61c";
}

.icon-weather-9:before {
  content: "\e6e5";
}

.icon-underline:before {
  content: "\e7bb";
}

.icon-bangzhu:before {
  content: "\e8a3";
}

.icon-kefu_o:before {
  content: "\eb63";
}

.icon-daka:before {
  content: "\e66c";
}

.icon-lingduiriji:before {
  content: "\e672";
}

.icon-jisuanqi:before {
  content: "\e79b";
}

.icon-rili:before {
  content: "\e63f";
}

.icon-danao:before {
  content: "\e702";
}

.icon-noun__cc:before {
  content: "\e604";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-tiaochariji:before {
  content: "\e678";
}

.icon-font-colors:before {
  content: "\e730";
}

.icon-chenghao:before {
  content: "\e619";
}

.icon-chengbeifen:before {
  content: "\e61d";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-category:before {
  content: "\e747";
}

.icon-copy:before {
  content: "\e74a";
}

.icon-cut:before {
  content: "\e74b";
}

.icon-filter:before {
  content: "\e751";
}

.icon-return:before {
  content: "\e75f";
}

.icon-h:before {
  content: "\e61a";
}

.icon-h1:before {
  content: "\e61b";
}

.icon-bold:before {
  content: "\e7cc";
}

.icon-leftalignment:before {
  content: "\e7cf";
}

.icon-Italic:before {
  content: "\e7d0";
}

.icon-rightalignment:before {
  content: "\e7d1";
}

.icon-subscript:before {
  content: "\e7d2";
}

.icon-fontcolor:before {
  content: "\e68a";
}

.icon-jiahao:before {
  content: "\e6be";
}

